################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Atlas/src/Atlas.Api/.vs/Atlas.Api.slnx
